@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --vertical-space: 2rem;
    --horizontal-space: 3rem;
    --light-color: rgb(167, 232, 190);
    --body-color: #2a376c;
    --heading-color: #321947;
    --contrast-color: rgb(169, 81, 151);
    --bright-color: rgb(153, 240, 234);
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    background-image: linear-gradient(45deg, rgba(135, 135, 135, 0.04) 0%, rgba(135, 135, 135, 0.04) 4%, rgba(73, 73, 73, 0.04) 4%, rgba(73, 73, 73, 0.04) 5%, rgba(161, 161, 161, 0.04) 5%, rgba(161, 161, 161, 0.04) 8%, rgba(22, 22, 22, 0.04) 8%, rgba(22, 22, 22, 0.04) 14%, rgba(46, 46, 46, 0.04) 14%, rgba(46, 46, 46, 0.04) 70%, rgba(199, 199, 199, 0.04) 70%, rgba(199, 199, 199, 0.04) 80%, rgba(0, 0, 0, 0.04) 80%, rgba(0, 0, 0, 0.04) 100%), linear-gradient(45deg, rgba(56, 56, 56, 0.1) 0%, rgba(56, 56, 56, 0.1) 36%, rgba(255, 255, 255, 0.1) 36%, rgba(255, 255, 255, 0.1) 62%, rgba(197, 197, 197, 0.1) 62%, rgba(197, 197, 197, 0.1) 71%, rgba(255, 255, 255, 0.1) 71%, rgba(255, 255, 255, 0.1) 75%, rgba(168, 168, 168, 0.1) 75%, rgba(168, 168, 168, 0.1) 98%, rgba(249, 249, 249, 0.1) 98%, rgba(249, 249, 249, 0.1) 100%), linear-gradient(0deg, rgba(42, 42, 42, 0.05) 0%, rgba(42, 42, 42, 0.05) 9%, rgba(254, 254, 254, 0.05) 9%, rgba(254, 254, 254, 0.05) 11%, rgba(109, 109, 109, 0.05) 11%, rgba(109, 109, 109, 0.05) 28%, rgba(250, 250, 250, 0.05) 28%, rgba(250, 250, 250, 0.05) 86%, rgba(191, 191, 191, 0.05) 86%, rgba(191, 191, 191, 0.05) 100%), linear-gradient(135deg, rgba(175, 175, 175, 0.05) 0%, rgba(175, 175, 175, 0.05) 12%, rgba(195, 195, 195, 0.05) 12%, rgba(195, 195, 195, 0.05) 34%, rgba(10, 10, 10, 0.05) 34%, rgba(10, 10, 10, 0.05) 56%, rgba(241, 241, 241, 0.05) 56%, rgba(241, 241, 241, 0.05) 81%, rgba(244, 244, 244, 0.05) 81%, rgba(244, 244, 244, 0.05) 82%, rgba(36, 36, 36, 0.05) 82%, rgba(36, 36, 36, 0.05) 84%, rgba(161, 161, 161, 0.05) 84%, rgba(161, 161, 161, 0.05) 99%, rgba(81, 81, 81, 0.05) 99%, rgba(81, 81, 81, 0.05) 100%), linear-gradient(0deg, rgba(146, 146, 146, 0.05) 0%, rgba(146, 146, 146, 0.05) 22%, rgba(239, 239, 239, 0.05) 22%, rgba(239, 239, 239, 0.05) 31%, rgba(147, 147, 147, 0.05) 31%, rgba(147, 147, 147, 0.05) 33%, rgba(209, 209, 209, 0.05) 33%, rgba(209, 209, 209, 0.05) 77%, rgba(129, 129, 129, 0.05) 77%, rgba(129, 129, 129, 0.05) 88%, rgba(20, 20, 20, 0.05) 88%, rgba(20, 20, 20, 0.05) 100%), linear-gradient(90deg, rgb(212, 113, 238), rgb(72, 197, 242), rgb(128, 234, 140));
    color: var(--body-color);
}

main {
    background-image: linear-gradient(90deg, rgba(153, 240, 234, 0.5), rgba(167, 232, 190, 0.5));
    max-width: 60em;
}

h1,
h2,
h3 {
    line-height: 1.2;
    font-family: 'Noto Serif', serif;
    color: var(--heading-color);
}

h1 {
    margin-bottom: 36px;
}

a {
    color: var(--body-color);
    text-decoration-color: var(--contrast-color);
}

a:hover {
    color: var(--contrast-color);
    text-decoration-color: var(--body-color);
}

body#about img {
    height: 15em;
}

p {
    max-width: 50em;
}

body {
    display: grid;
    grid-template-areas:
        "head head"
        "nav nav"
        "main main"
        "foot foot";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto 1fr auto;
}

@media screen and (min-width: 23em) {
    body {
        grid-template-areas: "head head"
            "nav main"
            "foot foot";
        grid-template-rows: auto 1fr auto;
    }

    body#portfolio ul#portfolioItems li {
        flex-basis: 58%;
        padding-right: 2%;
    }
}

@media (min-width: 1700px) {
    body#resume main ul {
        max-width: 50em;
    }

    body#resume main dl {
        grid-template-columns: repeat(2, 25em);
    }

    body#resume main dt {
        max-width: 50em;
    }

    body#resume main dd {
        max-width: 50em;
    }

    body#resume main dl>dt {
        width: 45em;
    }

    body#resume main dl>dd {
        max-width: 25em;
    }
}

body#resume main ul {
    margin-top: 0;
    padding-left: 1rem;
}

body#resume main ul {
    max-width: 55vw;
}

body#resume main dl {
    display: grid;
    grid-template-columns: repeat(2, 25vw);
}

body#resume h3 {
    margin-bottom: 6px;
}

body#resume dl {
    margin-top: 0;
    margin-bottom: 2px;
}

body#resume main dt {
    max-width: 37vw;
    margin-top: 8px;
}

body#resume main dd {
    max-width: 50em;
}

body#resume main dl>dt {
    width: 45em;
    padding-right: 0;
}

body#resume main dl>dd {
    max-width: 20vw;
    padding-left: 0;
    text-align: right;
}

body>* {
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);
}

body>header {
    grid-area: head;
}

body>nav {
    grid-area: nav;
}

body>nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}

body>nav ul li {
    padding-right: 1rem;
}

body>main {
    grid-area: main;
}

body>footer {
    grid-area: foot;
}

header,
footer {
    padding-top: var(--vertical-space);
    padding-bottom: var(--vertical-space);
}

header h1,
footer h1 {
    margin: 0;
}

body#portfolio ul#portfolioItems {
    display: flex;
    flex: 1;
    list-style-type: none;
    padding: 0;
}

body#about main img {
    margin-top: 8px;
    margin-bottom: 8px;
}

body#portfolio ul#portfolioItems li img {
    max-width: 100%;
}

body#portfolio ul>li>h2 {
    margin-bottom: 0;
    margin-top: 0;
}

body#portfolio ul>li>p {
    margin-top: 12px;
    margin-bottom: 18px;
}

#topBtn {
    background-color: var(--bright-color);
    border: none;
    border-radius: 7px;
    bottom: 18px;
    color: var(--body-color);
    display: none;
    font-size: 16px;
    outline: none;
    padding: 12px;
    position: fixed;
    right: 18px;
    z-index: 99;
}

#topBtn:hover {
    background-color: var(--light-color);
    color: var(--body-color);
}